/* CourseListRow.css */

/* Header row styles */
.course-list-header {
    /* background-color: #333; */
    /* color: white; */
    font-weight: bold;
    border: none;
    outline: none;
}

/* Data row styles */
.course-list-data {
    /* background-color: #f0f0f0; */
}

/* Styles for table headers */
.course-list-header th,
.course-list-data th {
    /* background-color: #333;
    color: white; */
    font-weight: bold;
    /* text-align: left; */
    padding: 10px;
    /* border: 1px solid black; */
    border-collapse: collapse;
}

/* Styles for table headers */
.course-list-header th:not(th[colSpan="2"]),
.course-list-data th:not(th[colSpan="2"]) {
    text-align: left;
}

/* Styles for table data cells */
.course-list-header td,
.course-list-data td {
    /* background-color: #f0f0f0; */
    text-align: left;
    padding: 10px;
}

/* Add more styles as needed */
/* Apply the CSS class conditionally based on the colSpan value */
tr.course-list-header th[colSpan="2"] {
    /* Center the text horizontally and vertically */
    text-align: center;
    /* Center text horizontally */
    vertical-align: middle;
    /* Center text vertically */

    /* Your other styles go here */
}


/* Apply the CSS class conditionally based on the colSpan value */
tr.course-list-header th[colSpan="2"],
tr.course-list-data td {
    /* Remove borders from both header (th) and data (td) cells */
    border: none;
}

/* Optionally, you can add borders to the top and bottom of the table rows for better separation */
tr.course-list-header th {
    border-top: 1px solid #ccc;
    /* Add a top border to header and data cells */
    border-bottom: 1px solid #ccc;
    /* Add a bottom border to header and data cells */
}