html {
  --background-color: #E0354B;
  --data-default: blue;
  --data-urgent: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */

.App-header {
  flex: 0 0 100%;
  min-height: 70px;

  display: flex;
  gap: 50px;
  /* justify-content: center; */
  align-items: center;
  /* width: 100%; */
  padding-bottom: 0px;

}

.App-header h1 {
  font-size: 60px;
}

.App-header img {
  width: 150px;
  margin-left: 35px;
}

.App-body {
  padding: 50px;
  flex: 0 0 100%;
  /* Let it fill the entire space horizontally */
  min-height: calc(100vh - 70px - 125px);
  /* excluding the height of the header */
  border-top: 4px solid var(--background-color);

  border-bottom: 4px solid var(--background-color);

}

.App-footer {
  flex: 0 0 100%;
  /* Let it fill the entire space horizontally */
  min-height: 125px;
  /* background-color: ; */
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}